.yellow{
    color: red;
}
.box{
    border: 2px solid purple;
    box-sizing: border-box;
    /* height: 100vh; */
    width: 100vw;
    background-color:aqua;

}
.box1{
    border: 2px solid pink;
    display: inline-block;
    padding: 45px;
    margin: 34px;
    width: 30px;
}